
// Header

.header-main-inner {
  border-bottom: 1px solid #babd7b;
  padding-bottom: 30px;
  padding-top: 30px;
}

.header-right {
  letter-spacing: 0.5px;
  font-family: Roboto;
  text-align: right;
  margin-top: 15px;
  color: #9493a5;
}