
// Home

.row.swiper-row {
  padding-top: 30px;
  border-top: 1px solid #babd7b;
  /* margin-top: 5px; */


  @media screen and (min-width: 798px) {
    padding-top: 60px;
  }

  .swiper-slide {

    .article-title {
      h3, .h3 {
        font-family: "Open Sans";
        color:#172a52;
        font-weight: 500;
      }
      a {
        font-family: "Open Sans";
        color:#636b6f;
        &:hover{
          text-decoration: none;
        }
        &:focus{
          text-decoration: none;
        }
        &:active{
          text-decoration: none;
        }
      }
    }

    .article-subtitle {
      font-family: 'Open Sans Condensed';
      font-size: 22px;
      color: #9493a5;
      margin-bottom: 15px;
      letter-spacing: 0.2px;

      a {
        text-decoration: none;
        &:hover{
          text-decoration: none;
        }
        &:focus{
          text-decoration: none;
        }
        &:active{
          text-decoration: none;
        }
      }
    }

    .article-intro {
      line-height: 1.5;
      margin-bottom: 30px;
      /*margin-top: 5px;*/
      font-size: 16px;
    }

    .label-default {
      margin-right: 15px;
    }

    .label {
      padding: .6em 1em .7em;
      /*font-size: 75%;*/
      font-weight: normal;
      line-height: 2.6;
      /*letter-spacing: .1em;*/
    }

  }
}


.articles-list {
  margin-top: 60px;

  article {
    font-family: "Open Sans";
    margin-bottom: 30px;

    h3, .h3 {
      font-size: 28px;
      margin-top: 15px;
    }

    .article-title {
      h3, .h3 {
        font-family: "Open Sans";
        color:#172a52;
        font-weight: 500;
      }
      a {
        font-family: "Open Sans";
        color:#636b6f;
        &:hover{
          text-decoration: none;
        }
        &:focus{
          text-decoration: none;
        }
        &:active{
          text-decoration: none;
        }
      }
    }


    .article-details {
      margin-bottom: 10px;
      /* background: #9493a5; */
      border-top: 1px solid #babd7b;
    }


    .article-subtitle {
      font-family: 'Open Sans Condensed';
      font-size: 22px;
      color: #9493a5;
      margin-bottom: 15px;
      letter-spacing: 0.2px;

      a {
        text-decoration: none;
        &:hover{
          text-decoration: none;
        }
        &:focus{
          text-decoration: none;
        }
        &:active{
          text-decoration: none;
        }
      }
    }


    .article-intro {
      line-height: 1.5;
      margin-bottom: 30px;
      /*margin-top: 5px;*/
      font-size: 16px;
    }

    .label {
      padding: .6em 1em .7em;
      /*font-size: 75%;*/
      font-weight: normal;
      line-height: 2.6;
      /*letter-spacing: .1em;*/
    }


  }

}


.label-default {
  background-color: #cccccc;
  color: #ffffff;
}




.article-image-author {
  color: #384043;
  float: right;
  font-style: italic;
  line-height: 20px;
  margin-top: 5px;
  font-size: 16px;
}



.article-body {
  margin-top: 15px;
  h3 {
    letter-spacing: 0.2px;
    font-weight: 600;
    color: #9493a5;

  }

}



span.post-category {
  font-weight: bold;
  text-transform: uppercase;
  color: #96a53b;
}

span.post-divider{
  margin: 0 5px;
}

figcaption.article-image-caption {
  font-family: 'Open Sans Condensed';
  color: #9493a5;
  letter-spacing: 0.4px;
  text-align: right;
  line-height: 1.3em;
  font-size: 0.8em;
  margin-top:  5px;
}








.btn-primary {
  color: #fff;
  background-color: #96a53b;
  border-color: #96a53b;
  padding: .2em 1em .2em;
  font-size: 95%;
  &:hover{
    background-color: #b8c27a;
    border-color: #b8c27a;
  }
  &:active{
    background-color: #b8c27a;
    border-color: #b8c27a;
  }
  &:focus{
    background-color: #b8c27a;
    border-color: #b8c27a;
  }
  &:visited{
    background-color: #b8c27a;
    border-color: #b8c27a;
  }
}



a.readmore {
  float: right;
  color: #ffffff;

}

[v-cloak] {
  display: none;
}


