
// Navbar


.navbar-default {
  background-color: #96a53b;
  border: none;

  .navbar-nav {
    li {
      a {
        color: #ffffff;
        &:hover {
          color: #e8ebd3;
        }
      }
    }

    .active {
      a {
        color: #ffffff;
        background-color: #b8c27a;
        &:hover {
          color: #ffffff;
          background-color: #b8c27a;
        }
        &:focus {
          color: #ffffff;
          background-color: #b8c27a;
        }
      }
    }

    .open {
      a {
        background-color: #aab661;
        color: #ffffff;
        &:hover{
          background-color: #aab661;
          color: #ffffff;
        }
        &:focus {
          background-color: #aab661;
          color: #ffffff;
        }
      }
    }

    .dropdown-menu {
      background-color: #aab661;
      border: 4px solid #96a53b;
      border-top: none;

      .divider {
        background: #96a53b;
      }

      ul {
        li {
          background: #5744ff;
          &:hover {
            background: #e8ebd3 !important;
          }
        }
      }

      li {
        color: #ffffff;
        &:hover{
          background: #96a53b !important;
        }
      }
    }




  }



}


