
// Article

.equal {
  min-height: 650px;

  @media screen and (max-width: 769px) {
    min-height: auto;
  }
}




h1, .h1 {
  font-size: 40px;
}




.article-internal {

  h2, .h2 {
    font-size: 30px;
    font-weight: 600;
  }

  .article-details {
    border-top: 1px solid #babd7b;

    @media screen and (min-width: 798px) {
      margin-bottom: 30px;
    }

  }

  .article-title {
    font-weight: 800;
    color: #172a52;

    @media screen and (min-width: 798px) {
      margin-top: 30px;
      margin-left: 130px;
      margin-right: 130px;
    }
  }

  .read-also {

    @media screen and (min-width: 798px) {
      /*margin-top: 30px;*/
      margin-left: 130px;
      margin-right: 130px;
      margin-bottom: 60px;
    }

    .read-also-title {
      text-transform: uppercase;
      font-weight: 700;
      border-bottom: 1px solid #babd7b;
      color: #babd7b;
      padding-bottom: 5px;
      margin-bottom: 15px;
    }

    .article-title {
      font-weight: 800;
      color: #172a52;

      a {
        text-decoration: none;
        &:hover{
          text-decoration: none;
        }
        &:focus{
          text-decoration: none;
        }
        &:active{
          text-decoration: none;
        }
      }

      @media screen and (min-width: 798px) {
        font-size: 20px;
        margin-top: 15px;
        margin-left: 0px;
        margin-right: 0px;
      }
    }

    footer {
      text-align: right;
    }

    .equal {
      min-height: auto;

      @media screen and (max-width: 769px) {
        min-height: auto;
      }
    }
  }

  .article-subtitle {
    font-family: 'Open Sans Condensed';
    font-size: 26px;
    color: #9493a5;
    margin-bottom: 15px;
    letter-spacing: 0.2px;

    @media screen and (min-width: 798px) {
      margin-left: 130px;
      margin-right: 130px;
      margin-bottom: 30px;
    }
  }





  .post-author {
    /*float: right;*/
    text-align: right;
    /*display: block;*/
    @media screen and (min-width: 798px) {
      /*margin-bottom: 30px;*/
      /*margin-top: 15px;*/
      margin-right: 130px;
    }
  }


  .article-body {
    @media screen and (min-width: 798px) {
      margin-left: 130px;
      margin-right: 130px;
      margin-bottom: 60px;
      margin-top: 0px;
      line-height: 1.8;
    }

    .article-gallery {
      margin-top: 60px;
      margin-bottom: 60px;
    }

    .article-tags {

      .article-tag {
        margin-right: 10px;
      }
    }

  }
}






.article-side-list {
  a {
    /*color: #586064;*/
  }
  a:hover {
    text-decoration: none;
  }

  h4, h5 {
    a {
      color: #586064;
    }
  }

  article .col-xs-7 {
    padding-left: 0px;
  }
  article h4 {
    font-size: 13pt;
    margin: 0;
  }
  article .article-intro {
    font-size: 9pt;
    line-height: 1.4;
    margin-top: 5px;
    color: #9493a5;
  }
  article {
    border-bottom: 1px solid #babd7b;
    padding-top: 10px;
  }

}





.col-md-4.article-side-list {
  border-top: 1px solid #babd7b;
}
.article-side-list .article-info {
  text-align: right;
  font-size: 80%;
}
