
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Swiper
@import "swiper";

@import "node_modules/font-awesome/scss/font-awesome.scss";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";
